<!doctype html>

<html>
<head>
	<title>Gym Match</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.css" rel="stylesheet">
	<link href="/css/gym_match.css" rel="stylesheet">      
</head>

<body>

	{{> _navbar}}

	<div class="container">
		<div class="jumbotron">
			<h1>Gym Match</h1>
			<p>Welcome {{username}}!</p>
			<p>Meet your new workout buddy today!</p>
			<p><a class="btn btn-primary btn-lg" role="button" href="/findbuddy">Find a Buddy</a></p>
		</div>

		<br>

	</div>

	<script src="js/jquery-1.11.0.js"></script>
	<script src="js/bootstrap.js"></script>
</body>
</html>