<!doctype html>

<html>
<head>
	<title>Gym Match</title>
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/gym_match.css" rel="stylesheet">
</head>


<body>

	<div class="main">
		<div class="row">
			<div class="container">
				<form class="form-signin">
					<h3 class="heading-desc">Login to GymMatch</h3>
					<input type="text" class="form-control" id="username" placeholder="Username" autofous>
					<input type="email" class="form-control" id="email" placeholder="Email">

					<div class="footer">
						<div class="row">
							<div class="col-xs-8 col-md-8">
								<div class="left-section">
									<a href="#">Forgot your password?</a>
									<a href="/signup">Sign up now!</a>
								</div>
							</div>
							<div class="col-xs-4 col-md-4 pull-right">
								<a href="/index" type="submit" class="btn btn-primary pull-right">Login</a>
							</div>
						</div>
					</div>
				</form>
				<div class="login-facebook">
					<div class="row">
						<div class="col-sm-12 col-md-12">
							<a href="#" class="btn btn-primary btn-block">
							<span class="glyphicon glyphicon-user"></span>
							Login with Facebook
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div> 

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</body>



</html>