<!doctype html>

<html>
<head>
	<title>Gym Match</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/gym_match.css" rel="stylesheet">
</head>


<body>
<!-- 	{{#if failureFlash}}
		<p>{{failureFlash}}</p>
	{{/if}} -->

	<div class="container">
		{{#if message}}
			<div class="warning-message">
				<button class="close" data-dismiss"warning">&times;</button>
				<p class="no-margin">{{message}}<p>
			</div>
		{{/if}}
		<form class="form-signin" role="form" method="post" action="/login">
			<h3>Login to GymMatch</h3>
			<div class="form-group">
				<input type="text" class="form-control login" id="username" name="username" placeholder="Username" autofous>
			</div>
			<div class="form-group">
				<input type="password" class="form-control login" id="password" name="password" placeholder="Password">
			</div>
			
				
					<a href="#">Forgot your password?</a>
					<a href="/signup">Sign up now!</a>
	
			
			

			
								
						<button value="submit" class="btn btn-primary btn-block" value="Login">Login</input>
	
					
		
		</form>
	</div>


	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</body>
</html>