<!doctype html>

<html>
<head>
	<title>Gym Match</title>
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/gym_match.css" rel="stylesheet">
</head>


<body>

	<div class="main">
		<div class="row">
			<div class="container">
				<form class="form-signin" method="get" action="/login_check">
					<h3>Login to GymMatch</h3>
					<div class="form-group">
						<input type="text" class="form-control login" id="username" name="username" placeholder="Username" autofous>
						<input type="password" class="form-control login" id="password" name="password" placeholder="Password">
					</div>
					<div class="forgot">
						<div class="row">
							<div class="col-xs-8 col-md-8">
								<a href="#">Forgot your password?</a>
								<a href="/signup">Sign up now!</a>
							</div>
						</div>
					</div>
				
					<div class="loginBtns">
						<div class="row">
							<div class="col-sm-12 col-md-12">
								<button value="submit" class="btn btn-primary btn-block" value="Login">Login</input>
							</div>
						</div>
						<hr width="100%">
						<div class="row">
							<div class="col-sm-12 col-md-12">
								<a href="#" class="btn btn-primary btn-block">
								<span class="glyphicon glyphicon-user"></span>Login with Facebook</a>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div> 

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</body>



</html>