<!doctype html>

<html>
<head>
	<title>Messages</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/gitfit.css" rel="stylesheet">
 
</head>

<body>

	{{> _navbar}}

	<div class="container">
		<h1>New Message</h1>
        <form id="new-message-form" role="form">
        <div class="form-group">
            <label for="to">To:</label>
            <input type="text" class="form-control" id="to" placeholder="User">
        </div>
        <div class="form-group">
            <label for="messageContent">Message:</label>
            <textarea type="text" class="form-control" rows="3" id="messageContent"></textarea>
        </div>
        <button id="newMessageSubmitBtn" type="button" class="btn btn-default">Send</button>
        <button id="newMessageCancelBtn" type="button" class="btn btn-default">Cancel</button>
    </form>
    </div>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
    <script src="/js/gitfit.js"></script>
</body>
</html>
