<!doctype html>

<html>
<head>
    <title>Profile Setup</title>    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.css" rel="stylesheet">
    <link href="/css/gitfit.css" rel="stylesheet">       
</head>

<body>
    <div class="container">
        <form class="profile_setup" role="form">
            <h3>Profile Setup</h3>
            <br>
            <div class="form-group">
                <label>First Name:</label>
                <div class ="row">
                    <div class = "col-md-12">
                        <input type="text" class="form-control" id="firstname" name ="firstname" placeholder="Bruce">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label>Last Name:</label>
                <div class="row">
                    <div class = "col-md-12">
                        <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Wayne">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label>Age:</label>
                <input type="number" class="form-control" id="age" name="age"placeholder="33">
            </div>
            <div class="form-group">
                <label>City:</label>
                <div class ="row">
                    <div class = "col-md-12">
                        <input type="text" class="form-control" id="city" name=
                        "city" placeholder="Gotham">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label>State:</label>
                <div class="row">
                    <div class = "col-md-12">
                        <input type="text" class="form-control" id="state" name="state" placeholder="NY">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label>Gym:</label>
                <select class="form-control" id="gym" name="gym">
                    <option>Arrillaga East</option>
                    <option>Arrillaga West</option>
                </select>
            </div>
            <div class="form-group">
                <label>What exercises do you like to do?</label>
                <div id = "checkbox">
                    <label class="checkbox">
                        <input type="checkbox" id="basketball" value="basketball">
                        Basketball
                    </label>
                    <label class="checkbox">
                        <input type="checkbox" id="weightlifting" value="weightlifting">
                        Weight Lifting
                    </label>
                    <label class="checkbox">
                        <input type="checkbox" id="running" value="running">
                        Running
                    </label>
                    <label class="checkbox">
                        <input type="checkbox" id="swimming" value="swimming">
                        Swimming
                    </label>
                    <label class="checkbox">
                        <input type="checkbox" id="climbing" value="climbing">
                        Climbing
                    </label>
                    <label class="checkbox">
                        <input type="checkbox" id="cycling" value="cycling">
                        Cycling
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label>When do you like to exercise? These preferences will help us find you buddies, so mark all the times you're free!</label>
                <ul>
                    <li><div class="monday">
                        <h5>Monday</h5>
                        <label class="checkbox">
                            <input type="checkbox" id="monday-morning">
                            Morning
                        </label>
                        <label class="checkbox">
                            <input type="checkbox" id="monday-afternoon">
                            Afternoon
                        </label>
                        <label class="checkbox">
                            <input type="checkbox" id="monday-evening">
                            Evening
                        </label>
                    </div></li>
                    <div class="tuesday">
                        <li><h5>Tuesday</h5>
                        <label class="checkbox">
                            <input type="checkbox" id="tuesday-morning">
                            Morning
                        </label>
                        <label class="checkbox">
                            <input type="checkbox" id="tuesday-afternoon">
                            Afternoon
                        </label>
                        <label class="checkbox">
                            <input type="checkbox" id="tuesday-evening">
                            Evening
                        </label>
                    </div></li>
                    <div class="wednesday">
                        <li><h5>Wednesday</h5>
                        <label class="checkbox">
                            <input type="checkbox" id="wednesday-morning">
                            Morning
                        </label>
                        <label class="checkbox">
                            <input type="checkbox" id="wednesday-afternoon">
                            Afternoon
                        </label>
                        <label class="checkbox">
                            <input type="checkbox" id="wednesday-evening">
                            Evening
                        </label>
                    </div></li>
                    <div class="thursday">
                        <li><h5>Thursday</h5>
                        <label class="checkbox">
                            <input type="checkbox" id="thursday-morning">
                            Morning
                        </label>
                        <label class="checkbox">
                            <input type="checkbox" id="thursday-afternoon">
                            Afternoon
                        </label>
                        <label class="checkbox">
                            <input type="checkbox" id="thursday-evening">
                            Evening
                        </label>
                    </div></li>
                    <div class="friday">
                        <li><h5>Friday</h5>
                        <label class="checkbox">
                            <input type="checkbox" id="friday-morning">
                            Morning
                        </label>
                        <label class="checkbox">
                            <input type="checkbox" id="friday-afternoon">
                            Afternoon
                        </label>
                        <label class="checkbox">
                            <input type="checkbox" id="friday-evening">
                            Evening
                        </label>
                    </div></li>
                    <div class="saturday">
                        <li><h5>Saturday</h5>
                        <label class="checkbox">
                            <input type="checkbox" id="saturday-morning">
                            Morning
                        </label>
                        <label class="checkbox">
                            <input type="checkbox" id="saturday-afternoon">
                            Afternoon
                        </label>
                        <label class="checkbox">
                            <input type="checkbox" id="saturday-evening">
                            Evening
                        </label>
                    </div></li>
                    <div class="sunday">
                        <li><h5>Sunday</h5>
                        <label class="checkbox">
                            <input type="checkbox" id="sunday-morning">
                            Morning
                        </label>
                        <label class="checkbox">
                            <input type="checkbox" id="sunday-afternoon">
                            Afternoon
                        </label>
                        <label class="checkbox">
                            <input type="checkbox" id="sunday-evening">
                            Evening
                        </label>
                    </div></li>
                </li>
            </div>
            <div class="form-group">
                <label>About Me:</label>
                <textarea class="form-control" rows="3" id="about_me" name="about_me" placeholder="Write something about yourself..."></textarea>
            </div>
            <div class="form-group">
                <label>Image URL:</label>
                <input type="text" class="form-control" id="imageURL" name="imageURL" placeholder="http://lorempixel.com/technics/300/300">
            </div>
            
            <div class="form-group">
                <button value="Submit" class="btn btn-primary" id="saveProfileBtn">Save</button>
            </div>
        </form>

    </div>
    <script src="/js/jquery-1.11.0.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="/js/gitfit.js"></script>
</body>
</html>