<!doctype html>

<html>
<head>
    <title>Profile Setup</title>    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.css" rel="stylesheet">
    <link href="/css/gitfit.css" rel="stylesheet">       
</head>

<body>
    <div class="container">
        <form class="profile_setup" role="form">
            <h3>Profile - Availability</h3>
            <br>
            <div class="form-group">
                <label>When do you like to exercise? These preferences will help us find you buddies, so mark all the times you're free!</label>
                <ul>
                    <li><div class="monday">
                        <h5>Monday</h5>
                        <label class="checkbox">
                            <input type="checkbox" id="monday-morning">
                            Morning
                        </label>
                        <label class="checkbox">
                            <input type="checkbox" id="monday-afternoon">
                            Afternoon
                        </label>
                        <label class="checkbox">
                            <input type="checkbox" id="monday-evening">
                            Evening
                        </label>
                    </div></li>
                    <div class="tuesday">
                        <li><h5>Tuesday</h5>
                        <label class="checkbox">
                            <input type="checkbox" id="tuesday-morning">
                            Morning
                        </label>
                        <label class="checkbox">
                            <input type="checkbox" id="tuesday-afternoon">
                            Afternoon
                        </label>
                        <label class="checkbox">
                            <input type="checkbox" id="tuesday-evening">
                            Evening
                        </label>
                    </div></li>
                    <div class="wednesday">
                        <li><h5>Wednesday</h5>
                        <label class="checkbox">
                            <input type="checkbox" id="wednesday-morning">
                            Morning
                        </label>
                        <label class="checkbox">
                            <input type="checkbox" id="wednesday-afternoon">
                            Afternoon
                        </label>
                        <label class="checkbox">
                            <input type="checkbox" id="wednesday-evening">
                            Evening
                        </label>
                    </div></li>
                    <div class="thursday">
                        <li><h5>Thursday</h5>
                        <label class="checkbox">
                            <input type="checkbox" id="thursday-morning">
                            Morning
                        </label>
                        <label class="checkbox">
                            <input type="checkbox" id="thursday-afternoon">
                            Afternoon
                        </label>
                        <label class="checkbox">
                            <input type="checkbox" id="thursday-evening">
                            Evening
                        </label>
                    </div></li>
                    <div class="friday">
                        <li><h5>Friday</h5>
                        <label class="checkbox">
                            <input type="checkbox" id="friday-morning">
                            Morning
                        </label>
                        <label class="checkbox">
                            <input type="checkbox" id="friday-afternoon">
                            Afternoon
                        </label>
                        <label class="checkbox">
                            <input type="checkbox" id="friday-evening">
                            Evening
                        </label>
                    </div></li>
                    <div class="saturday">
                        <li><h5>Saturday</h5>
                        <label class="checkbox">
                            <input type="checkbox" id="saturday-morning">
                            Morning
                        </label>
                        <label class="checkbox">
                            <input type="checkbox" id="saturday-afternoon">
                            Afternoon
                        </label>
                        <label class="checkbox">
                            <input type="checkbox" id="saturday-evening">
                            Evening
                        </label>
                    </div></li>
                    <div class="sunday">
                        <li><h5>Sunday</h5>
                        <label class="checkbox">
                            <input type="checkbox" id="sunday-morning">
                            Morning
                        </label>
                        <label class="checkbox">
                            <input type="checkbox" id="sunday-afternoon">
                            Afternoon
                        </label>
                        <label class="checkbox">
                            <input type="checkbox" id="sunday-evening">
                            Evening
                        </label>
                    </div></li>
                </li>
            </div>
            <div class="form-group">
                <button value="Submit" class="btn btn-primary" id="addavailability">Done</button>
            </div>
        </form>

    </div>
    <script src="/js/jquery-1.11.0.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="/js/gitfit.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-48615248-1', 'git-fit.herokuapp.com');
      ga('send', 'pageview');
    </script>
</body>
</html>