<!doctype html>

<html>
<head>
	<title>Profile Setup</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.css" rel="stylesheet">
	<link href="/css/gym_match.css" rel="stylesheet">       
</head>

<body>

	{{> _navbar}}

	<div class="container">
		<h1>Profile Setup</h1>
		<br>
		<form class="profile_setup" role="form" method="get" action="/profile_edit">
            <div class="form-group">
                <label>Name:</label>
                <div class ="row">
                    <div class = "col-md-6">
                		<input type="text" class="form-control" id="firstname" name ="firstname" placeholder="First Name">
                	</div>
                	<div class = "col-md-6">
                		<input type="text" class="form-control" id="lastname" name="lastname" placeholder="Last Name">
                	</div>
                </div>
            </div>
            <div class="form-group">
                <label>User Name:</label>
                <input type="text" class="form-control" id="username" name="username" placeholder="Username">
            </div>
            <div class="form-group">
                <label>Age:</label>
                <input type="number" class="form-control" id="age" name="age"placeholder="Age">
            </div>
            <div class="form-group">
                <label>Gym:</label>
                <select class="form-control" id="gym" name="gym">
					<option>Arrillaga East</option>
				  	<option>Arrillaga West</option>
				</select>
            </div>
            <div class="form-group">
            	<label>Exercise:</label>
            	<div id = "checkbox">
					<label class="checkbox-inline">
						<input type="checkbox" value="basketball">
						Basketball
					</label>
					<label class="checkbox-inline">
						<input type="checkbox" value="weightlifting">
						Weight Lifting
					</label>
					<label class="checkbox-inline">
						<input type="checkbox" value="running">
						Running
					</label>
					<label class="checkbox-inline">
						<input type="checkbox" value="swimming">
						Swimming
					</label>
					<label class="checkbox-inline">
						<input type="checkbox" value="climbing">
						Climbing
					</label>
					<label class="checkbox-inline">
						<input type="checkbox" value="cycling">
						Cycling
					</label>
				</div>
            </div>
            <div class="form-group">
                <label>Location:</label>
                <div class ="row">
                    <div class = "col-md-6">
                		<input type="text" class="form-control" id="city" name=
                		"city" placeholder="City">
                	</div>
                	<div class = "col-md-6">
                		<input type="text" class="form-control" id="State" name="state" placeholder="State">
                	</div>
                </div>
            </div>
            <div class="form-group">
                <label>About Me:</label>
                <textarea class="form-control" rows="3" id="about_me" name="about_me" placeholder="Write something about yourself..."></textarea>
            </div>
            <div class="form-group">
                <label>Image URL:</label>
                <input type="text" class="form-control" id="image_url" name="image_url" placeholder="image_url">
            </div>
            <div class="form-group">
                <label>Availability:</label>
                <ul>
                    <li><div class="monday">
                        <h5>Monday</h5>
                        <label class="checkbox-inline">
                            <input type="checkbox" value="morning">
                            Morning
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" value="afternoon">
                            Afternoon
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" value="evening">
                            Evening
                        </label>
                    </div></li>
                    <div class="tuesday">
                        <li><h5>Tuesday</h5>
                        <label class="checkbox-inline">
                            <input type="checkbox" value="morning">
                            Morning
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" value="afternoon">
                            Afternoon
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" value="evening">
                            Evening
                        </label>
                    </div></li>
                    <div class="wednesday">
                        <li><h5>Wednesday</h5>
                        <label class="checkbox-inline">
                            <input type="checkbox" value="morning">
                            Morning
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" value="afternoon">
                            Afternoon
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" value="evening">
                            Evening
                        </label>
                    </div></li>
                    <div class="thursday">
                        <li><h5>Thursday</h5>
                        <label class="checkbox-inline">
                            <input type="checkbox" value="morning">
                            Morning
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" value="afternoon">
                            Afternoon
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" value="evening">
                            Evening
                        </label>
                    </div></li>
                    <div class="friday">
                        <li><h5>Friday</h5>
                        <label class="checkbox-inline">
                            <input type="checkbox" value="morning">
                            Morning
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" value="afternoon">
                            Afternoon
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" value="evening">
                            Evening
                        </label>
                    </div></li>
                    <div class="saturday">
                        <li><h5>Saturday</h5>
                        <label class="checkbox-inline">
                            <input type="checkbox" value="morning">
                            Morning
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" value="afternoon">
                            Afternoon
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" value="evening">
                            Evening
                        </label>
                    </div></li>
                    <div class="sunday">
                        <li><h5>Sunday</h5>
                        <label class="checkbox-inline">
                            <input type="checkbox" value="morning">
                            Morning
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" value="afternoon">
                            Afternoon
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" value="evening">
                            Evening
                        </label>
                    </div></li>
                </li>
            </div>
            <div class="form-group">
                <button value="Submit" class="btn btn-primary" id="savebtn">Send</button>
            </div>
        </form>

	</div>
	<script src="/js/jquery-1.11.0.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="/js/gym_match.js"></script>
</body>
</html>