<!doctype html>

<html>
<head>
	<title>Register</title>
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/gym_match.css" rel="stylesheet">
</head>


<body>

	<div class="main">
		<div class="row">
			<div class="container">
				<form class="form-register">
					<h3 class="heading-desc" align="center">Register</h3>
					<input type="text" class="form-control" id="username" placeholder="Username" autofous>
					<input type="password" class="form-control" id="password" placeholder="Password" autofous>
					<input type="password" class="form-control" id="re-password" placeholder="Re-Password" autofous>
					<input type="email" class="form-control" id="email" placeholder="Email">

					<div class="footer">
						<div class="row">
							<div class="col-md-12" align="center">
								<a href="/index" type="submit" class="btn btn-primary">Submit</a>
								<a href="/" class="btn btn-default">Cancel</a>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div> 

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</body>



</html>