<!doctype html>

<html>
	<head>
		<title>Register for GitFit</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
		<link href="/css/bootstrap.min.css" rel="stylesheet">
		<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
		<link href="http://fonts.googleapis.com/css?family=Arvo" rel="stylesheet" type="text/css">
		<link href="http://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet" type="text/css">
		<link href="http://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet" type="text/css">
		<link href="/css/gitfit.css" rel="stylesheet">
		<style>
			body { 
				background-image: url('/images/background.jpg'); 
				background-repeat: no-repeat;
				background-position: center;
				background-attachment: fixed;
				background-size: cover;
				padding-bottom: 60px;
			}
		</style>
	</head>


	<body>
		<div class="container">
			{{#if message}}
				<div class="warning-message">
					<p class="no-margin">{{message}}<p>
				</div>
			{{/if}}
			<form class="form-register" method="post" action="/create">
				<h3 class="heading-desc" align="center">Register</h3>
				<br>
				<div class="form-group">
					<input type="text" class="form-control signup" id="username" name="username" placeholder="Username" value="{{username}}" autocapitalize="off" required="required"></input>
				</div>
				<div class="form-group">
					<input type="email" class="form-control signup" id="email" name="email" placeholder="Email" value="{{email}}" autocapitalize="off" required="required"></input>
				</div>
				<div class="form-group">
					<input type="password" class="form-control signup" id="password" name="password" placeholder="Password" autocapitalize="off" required="required"></input>
				</div>
				<div class="form-group">
					<input type="password" class="form-control signup" id="re_password" name="re_password" placeholder="Confirm Password" autocapitalize="off" required="required"></input>
				</div>


				<div class="signupBtns">
					<div class="row">
						<div class="col-md-12" align="center">
							<input type="submit" class="btn btn-custom" id="signUpBtn" value="Sign Up"></input>
							<a href="/" class="btn btn-default">Cancel</a>
						</div>
					</div>
				</div>
			</form>
		</div>

		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/js/bootstrap.min.js"></script>
		<script src="/js/gitfit.js"></script>
		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
					(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
				m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-48615248-1', 'git-fit.herokuapp.com');
			ga('send', 'pageview');
		</script>
	</body>



</html>
