body {
	margin-top: 70px;
}

.alertbox {
	position: absolute;
	width: 100%;
	top: 50px;
}


.random_matches p {
	margin:1px;
}

.main {
	padding: 30px;
}

.main .footer {
	margin-top: 10px;
}

.main .loginBtns {
	margin-top: 20px
}

.login, .signup {
	margin-top: 5px;
}

.img {
	max-height: 300px;
    max-width: 300px;
}

.warning-message {
	padding:15px;
	background-color: #fcf8e3;
	border: 1px solid #fbeed5;
}

.no-margin {
	margin: 0px;
}

.hidden {
	display:none;
}

.message {
	background: -moz-linear-gradient(90deg, #b6e74d 0%, #8fd13e 25.6%, #8acf43 79.9%, #4ab947 100%) #8fd13e;
	background: -webkit-gradient(linear, left bottom, left top, from(#b6e74d), color-stop(0.256, #8fd13e), color-stop(0.799, #8acf43), to(#4ab947)) #8fd13e;
	border-radius:12px;
	margin: 20px;
	padding: 5px;
}

.message p {
	margin:0px;
	padding:0px;
}


