body {
	margin-top: 70px;
}

.alertbox {
	position: absolute;
	width: 100%;
	top: 50px;
}

.random_matches p {
	margin:1px;
}

.main {
	padding: 30px;
}

.main .footer {
	margin-top: 10px;
}

.main .login-facebook {
	margin-top: 20px
}

.form-control {
	margin-top: 5px;
}
